Codigos/Cocina/Workflows/InsertarPedidosJSON-903AB46A-9740-F011-877A-7C1E525E5EF7.json
{
  "properties": {
    "connectionReferences": {
      "shared_sharepointonline": {
        "runtimeSource": "invoker",
        "connection": {
          "connectionReferenceLogicalName": "cr82b_sharedsharepointonline_ef48d"
        },
        "api": {
          "name": "shared_sharepointonline"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "e72e9855-e005-4ff0-a3b3-0205452b88da"
          },
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "JSONPEDIDOS",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Pedidos",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text"
              ]
            }
          }
        }
      },
      "actions": {
        "Análisis_del_archivo_JSON": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "91d1afc3-246d-434c-b5fb-bda431f8d356"
          },
          "type": "ParseJson",
          "inputs": {
            "content": "@triggerBody()['text']",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id_pedido": {
                    "type": "integer"
                  },
                  "id_mesa": {
                    "type": "integer"
                  },
                  "hora_pedido": {
                    "type": "string"
                  },
                  "estado_pedido": {
                    "type": "string"
                  },
                  "tipo_plato": {
                    "type": "string"
                  },
                  "nombre_plato": {
                    "type": "string"
                  },
                  "modificaciones": {
                    "type": "string"
                  },
                  "detalles_modificaciones": {
                    "type": "string"
                  }
                },
                "required": [
                  "id_pedido",
                  "id_mesa",
                  "hora_pedido",
                  "estado_pedido",
                  "tipo_plato",
                  "nombre_plato",
                  "modificaciones",
                  "detalles_modificaciones"
                ]
              }
            }
          }
        },
        "Aplicar_a_cada_uno": {
          "foreach": "@body('Análisis_del_archivo_JSON')",
          "actions": {
            "Crear_elemento": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "0a88442f-59eb-43df-8ec7-85a91dbc2f48"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_sharepointonline",
                  "operationId": "PostItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                },
                "parameters": {
                  "dataset": "https://educa2madrid.sharepoint.com/sites/MyERest",
                  "table": "dd1f0c14-4e58-4ac9-a7c3-42f5f90c282e",
                  "item/Title": "@items('Aplicar_a_cada_uno')['id_pedido']",
                  "item/Mesa": "@items('Aplicar_a_cada_uno')['id_mesa']",
                  "item/Hora": "@items('Aplicar_a_cada_uno')['hora_pedido']",
                  "item/Plato": "@items('Aplicar_a_cada_uno')['nombre_plato']",
                  "item/Modificaciones": "@items('Aplicar_a_cada_uno')['detalles_modificaciones']",
                  "item/Estado/Value": "Pendiente"
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            }
          },
          "runAfter": {
            "Análisis_del_archivo_JSON": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "a61dbfe2-0b9f-425a-b606-768de31e6b9c"
          },
          "type": "Foreach"
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}